fstring/tests/fmemcpy.X/dist/
fstring/tests/fmemcpy.X/debug/
fstring/tests/fmemcpy.X/build/
fstring/tests/fmemcpy.X/nbproject/private/
fstring/tests/fmemcpy.X/nbproject/Makefile-default.mk
fstring/tests/fmemcpy.X/nbproject/Makefile-genesis.properties
fstring/tests/fmemcpy.X/nbproject/Makefile-impl.mk
fstring/tests/fmemcpy.X/nbproject/Makefile-local-default.mk
fstring/tests/fmemcpy.X/nbproject/Makefile-variables.mk
fstring/tests/fmemmove.X/dist/
fstring/tests/fmemmove.X/debug/
fstring/tests/fmemmove.X/build/
fstring/tests/fmemmove.X/nbproject/private/
fstring/tests/fmemmove.X/nbproject/Makefile-default.mk
fstring/tests/fmemmove.X/nbproject/Makefile-genesis.properties
fstring/tests/fmemmove.X/nbproject/Makefile-impl.mk
fstring/tests/fmemmove.X/nbproject/Makefile-local-default.mk
fstring/tests/fmemmove.X/nbproject/Makefile-variables.mk