fstring/tests/*.X/dist/
fstring/tests/*.X/debug/
fstring/tests/*.X/build/
fstring/tests/*.X/nbproject/private/
fstring/tests/*.X/nbproject/Makefile-default.mk
fstring/tests/*.X/nbproject/Makefile-genesis.properties
fstring/tests/*.X/nbproject/Makefile-impl.mk
fstring/tests/*.X/nbproject/Makefile-local-default.mk
fstring/tests/*.X/nbproject/Makefile-variables.mk